.nav-link .active {
    font-size: 30px !important;
    color: lightseagreen !important;
       }
 
     h1 {
      font-size: 80px;
      font-weight: bold;
      color: lightseagreen !important;
      margin-top: 20px !important
     }
    
    
     h3 {
        font-size: 30px !important;
        color: lightseagreen !important;
        font-weight: bold;
         /* font-weight: bold; */
     }
 
     h2 {
         color: lightseagreen;
         /* font-weight: bold; */
     }



    #footer {

      font-size: 20px;
      text-align: center;
      margin: 0 auto;
     }

.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: rgb(255, 0, 0);
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }


  body, html{
    background: #181E24;
    padding-top: 10px;
  } 
  
  .wrapper{
    width:60%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 60px 50px;
    background:#fff;
    border-radius:4px;
  }
  
  canvas{
    background:#fff;
    height:400px;
  } 
  
  h1{
    font-family: Roboto;
    color: #fff;
    margin-top:50px;
    font-weight:200;
    text-align: center;
    display: block;
    text-decoration: none;
  } 
  


body { 
    margin-bottom: 150px;
    /*  google colour picker */
    background-color: #eceef2;
    font-family: 'Quicksand';font-size: 20px;
    /* background-image: url("Picture 1.jpg"); */
    /* opacity: .2; */

}


  h2 {
      color: lightseagreen;
      /* font-weight: bold; */
  }
.spacing{
  margin-left: 50%;
}

#svg {
  position: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
